################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/bin/*
/obj/*
/.vs/490Bot/DesignTimeBuild/.dtbcache.v2
/.vs/ProjectEvaluation/490bot.metadata.v7.bin
/.vs/490Bot/v17/.futdcache.v2
/.vs/ProjectEvaluation/490bot.projects.v7.bin
